@using Microsoft.AspNetCore.Components
 
<div class="pagination-controls" style="display: flex; justify-content: flex-end; margin-top: 10px; margin-right: 10px;">
    <button @onclick="GoToFirstPage" disabled="@IsFirstPage" style="width: 5rem;">First</button>
    <button @onclick="PrevPage" disabled="@IsFirstPage" style="width: 5rem;">Previous</button>
    <span class="m-3">Page @CurrentPage of @TotalPages</span>
    <button @onclick="NextPage" disabled="@IsLastPage" style="width: 5rem;">Next</button>
    <button @onclick="GoToLastPage" disabled="@IsLastPage" style="width: 5rem;">Last</button>
</div>
 
@code {
    [Parameter] public int CurrentPage { get; set; }
    [Parameter] public int TotalPages { get; set; }
    [Parameter] public EventCallback<int> OnPageChanged { get; set; }
 
    private bool IsFirstPage => CurrentPage == 1;
    private bool IsLastPage => CurrentPage == TotalPages;
 
    private void GoToFirstPage()
    {
        CurrentPage = 1;
        OnPageChanged.InvokeAsync(CurrentPage);
    }
 
    private void GoToLastPage()
    {
        CurrentPage = TotalPages;
        OnPageChanged.InvokeAsync(CurrentPage);
    }
 
    private void PrevPage()
    {
        // Console.WriteLine(CurrentPage);
        if (!IsFirstPage)
        {
            OnPageChanged.InvokeAsync(CurrentPage - 1);
        }
    }
 
    private void NextPage()
    {
        // Console.WriteLine(CurrentPage);
        if (!IsLastPage)
        {
            OnPageChanged.InvokeAsync(CurrentPage + 1);
        }
    }
}